<!DOCTYPE html>
<html lang="en">

    <head>
        <title>web</title>
        <link rel="stylesheet" href="web.css">
    </head>

    <body>
        <div id="header">
            <img class="logo" src ="./pic1.jpg" alt="">
                <h1 class="title">
                    MUTALL DATA COMPANY
                </h1>
                    <nav class="navi">
                        <a class="file" href="../files/folder.md">Folder</a>
                        <a class="file" href="../files/github.md">Github</a>
                        <a class="file" href="../files/npm.md">Npm registry</a>
                        <a class="file" href="../files/">4</a>
                        <a class="file" href="../files/maggie">5</a> 
                        <a class="file" href="../files/maggie">6</a>
                        <a class="file" href="../files/rentize.md">Rentize</a>
                        <a class="file" href="../files/kentionary.md">Kentionary</a>
                        <a class="file" href="../files/peter">9</a>
                    </nav>
        </div>

        <div id="aside">
            <nav>
                <a class="atag" href="../docs/folder structure.md">Folder structure</a>
                <a class="atag" href="../docs/git and github.md">Git and github</a>
                <a class="atag" href="../docs/npm.md">Publishing a library to npm registry</a>
                <a class="atag" href="../docs/sharon">4</a>
                <a class="atag" href="../docs/maggie">5</a> 
                <a class="atag" href="../docs/maggie">6</a>
                <a class="atag" href="../docs/rentize.md">Rentize</a>
                <a class="atag" href="../docs/kentionary.md">Kentionary</a>
                <a class="atag" href="../docs/peter">9</a>
            </nav>
        </div>
        
        <div id="content">
            <div id="images" >
                <span class="img"><img src="pics/-789847033.jpg" alt="" width="250px"></span>
                <span class="img"><img src="pics/-789847033.jpg" alt="" width="250px"></span>
                <span class="img"><img src="pics/-789847033.jpg" alt="" width="250px"></span>
            </div>
        </div>

        <footer>
            <center> Mutall data @2022</center>
        </footer>
    </body>
</html>