<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>web</title>
    <link rel="stylesheet" href="web.css">
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js">
    </script>
    <script type="module">
        import run from "./script.js";
        //
        //Onload, run the default file
        window.onload = () => run("../files/internship.md");
        //
        //Make the run module visible outside this module
        window.run = run;
    </script>
</head>

<body>

    <div id="header">
        <script>        //
        </script>
        <img class="logo" src="./pic1.jpg" alt="">
        <div class="title">
            <h1 class="mutald">MUTALL DATA COMPANY</h1>
            <nav class="navi">
                <a class="file" href="#" onclick="run('../files/folder.md')">FOLDER</a>
                <a class="file" href="#" onclick="run('../files/github.md')">GITHUB</a>
                <a class="file" href="#" onclick="run('../files/internship.md')">INTERNSHIP</a>
                <a class=" file" href="#" onclick="run('../files/crud.md')">CRUD</a>
                <a class="file" href="#" onclick="run('../files/migration.md')">MIGRATION</a>
                <a class="file" href="#" onclick="run('../files/messenger.md')">MESSENGER</a>
                <a class="file" href="#" onclick="run('../files/event.md')">EVENT</a>
            </nav>
        </div>
    </div>

    <div id="aside">
        <nav>
            <a class="atag" id="a" href="#" onclick="run('../docs/folder structure.md')">FOLDER STRUCTURE</a>
            <a class="atag" href="#" onclick="run('../docs/git and github.md')">GIT AND GITHUB</a>
            <a class="atag" href="#" onclick="run('../docs/npm.md')">PUBLISHING A LIBRARY TO NPM REGISTRY</a>
            <a class="atag" href="#" onclick="run('../docs/internship.md')">INTERNSHIP OF MUTALL_DATA</a>
            <a class="atag" href="#" onclick="run('../docs/crud.md')">CRUD MODULE</a>
            <a class="atag" href="#" onclick="run('../docs/registrar.md')">REGISTRAR MODULE</a>
            <a class="atag" href="#" onclick="run('../docs/migration.md')">MIGRATION MODULE</a>
            <a class="atag" href="#" onclick="run('../docs/messenger.md')">MESSENGER MODULE</a>
            <a class="atag" href="#" onclick="run('../docs/event.md')">EVENTS MODULE</a>
        </nav>
    </div>

    <div id="content">
        <div id="images">
            <span class="img"><img src="pics/-789847033.jpg" alt="" width="250px"></span>
            <span class="img"><img src="pics/-789847033.jpg" alt="" width="250px"></span>
        </div>
    </div>

    <footer>
        <center> Mutall data @2022</center>
    </footer>
</body>

</html>