
html{
    height: 100%;
    width: 100%;
}
body{
    height: 100%;
    width: 100%;
}
svg{
    height: 100%;
    width: 100%;
    background-color:none;
    stroke: black;
    stroke-width: 0.05;

}
