<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>web</title>
        <link rel="stylesheet" href="web.css">
    </head>

    <body>
        <div id="header">
            <img class="logo" src ="./" alt="">
                <h1 class="title">
                    MUTALL <span> DATA </span> COMPANY
                </h1>
                    <nav class="navi">
                        <a class="file" href="../files/folder.md">Folder</a>
                        <a class="file" href="../files/github.md">Github</a>
                        <a class="file" href="../files/npm.md">Npm registry</a>
                        <a class="file" href="../files/internship.md">Internship</a>
                        <a class="file" href="../files/maggie">5</a> 
                        <a class="file" href="../files/maggie">6</a>
                        <a class="file" href="../files/migration.md">Migration</a>
                        <a class="file" href="../files/messenger.md">Messenger</a>
                        <a class="file" href="../files/event.md">Event</a>
                    </nav>
        </div>

        <div id="aside">
                <a class="atag" href="../docs/folder structure.md">Folder structure</a>
                <a class="atag" href="../docs/git and github.md">Git and github</a>
                <a class="atag" href="../docs/npm.md">Publishing a library to npm registry</a>
                <a class="atag" href="../docs/internship.md">Internship</a>
                <a class="atag" href="../docs/maggie">5</a> 
                <a class="atag" href="../docs/maggie">6</a>
                <a class="atag" href="../docs/migration.md">Migration</a>
                <a class="atag" href="../docs/messenger.md">Messenger</a>
                <a class="atag" href="../docs/event.md">Event</a>
        </div>
        
        <div id="content">
            
            <div id="images" >
                <span class="img"><img src="pics/-789847033.jpg" alt="" width="250px"></span>
                <span class="img"><img src="pics/-789847033.jpg" alt="" width="250px"></span>
                <span class="img"><img src="pics/-789847033.jpg" alt="" width="250px"></span>
            </div>
        </div>

        <footer>
            <center> Mutall data @2022</center>
        </footer>
    </body>
</html>