<html>
    <head>
        <title>Template</title>
        <link rel="stylesheet" href="test.css">
    </head>
    <body>
       <div class="header">
            <p>TEST TEMPLATE</p>
       </div>
        <div class="content">
            <form id="template">
                <!--Input buttons for the roles-->
                <label for="checkbox">Member </label>
                 <input type="checkbox" id="checkbox"><br>
                <label for="checkbox">Name</label>
                 <input placeholder="Enter official name">
                <!--Lable for organization post-->
                <br>
                <label for="organization post">Choose your organization position: </label>
                <select id="organization post">
                    <option value="director">Director</option>
                    <option value="supervisor">Supervisor</option> 
                </select><br/>
                <!--Label for the organizations-->
                <label for="organization">Choose your organization: </label>
                <select id="organization">  
                    <option value="friends"> Friends</option>
                    <option value="Pioneer"> Pioneer</option>
                    <option value="Chama Cha Wazee"> Chama Cha Wazee</option>
                    <option value="Kiserian Market"> Kiserian Market</option>
                    <option value="vuvuzela"> vuvuzela</option>
                </select><br/>
                <label for="organization room">Enter organization room number</label>
                <input class="place" placeholder="Room number">
                <br/>
                 <input type="checkbox"id="checkbox">
                 <label for="submit">Save</label>
                 <input type="checkbox"id="checkbox">
                 <label for="submit">Submit</label>
            </form>
        </div>
    </body>
</html>