html,body {
    margin: 0;
    padding: 0;
}

#header {
    background-color: powderblue;
}

#con {
    background-color: gainsboro;
    display: flex;
    flex: 20% 80%;
}

img {
    width: 50%;
    height: 30%;
    border-radius: 55%;
}

.profile {
    font-size: 20px;
    background-color: whitesmoke;
    padding: 1%;
    flex: 20%;
}

.content {
    padding: 2%;
    width: max-content;
    overflow-y: scroll;
    flex: 80%;
}
i{
    display: block;
    font-size: 30px;
    text-align: center;
}
table{
    margin: 3px;
    font-size: 15px;
}
table,
td,
th {
    border: 1px solid black;
    border-collapse: collapse;
    width: auto;
}